*{ margin: 0;
  padding: 0;
  box-sizing:border-box;
  overflow-x:hidden;
}
@media(max-width:600px){
  nav{
    background-color:white;
    color:black;
  }
  .nav_menu ul a{
    color:black;
    }
    
nav a:hover{
  color:#00d9ff;
}
}
@media(min-width:600px){
nav{
  background-color: #000;
  color:white;
} .nav_menu ul a{
  color:white;
  }}
li, a, button {
font-weight:700;
}
nav{
padding:20px 10%;
display:flex;
justify-content: space-between;
align-items: center;
}

nav a:hover{
  color:#00d9ff;
}
.nav_menu li{

font-size:30px;

padding:0px 20px;
}
.nav_menu li:hover{
box-shadow:#000000;
color:white;
}
nav button{
padding : 20px 50px;
background-color: #000000;
color:white;
border-radius :50px;

}
nav button:hover{
  background-color: #444;
  color:white;
  cursor: pointer;
}
@media(min-width:760px){
.nav_menu li{
  display:inline-block;
  text-decoration: none;
}
.front .allf{
  margin-top: 10%;
  margin-right:4%;
  font-size: large;
}
}

@media (max-width:760px){
nav, nav ul{
padding:20px;
flex-direction:column;
align-items: center;
list-style: none;
margin: 4px;
}
.nav_menu .button-group{
 text-align:center;
margin-left:30%;
}
.nav_menu ul {
padding:8px 10px;
font-size:14px;
justify-content: space-between; }
.nav_menu ul li{
  padding:10px;
}
.front{
  flex-direction: column;
  align-items:center
}
.front img{
  margin-top:50px;
  max-width:100%;
}
.front .allf{
  text-align:center;
  margin-left: 3px;
  
}
.proj{
  flex-direction: column;
}
}
@media (max-width:900px){
  .skill{
    width:900px;
    overflow:hidden
  }
  .score{
    width:900px;
    overflow:hidden;
  }
  .button-group{
    align-items: center;
  }
}
.front{
display:flex;
justify-content: space-between;
}
.front img{
max-width:50%;
}

.front .head{
  font-size:10vh;
  font-weight:bold;
  color:rgb(255, 255, 255);
  margin: 4px;
 letter-spacing:4px;
  text-shadow: 1px 1px 0 #000, 2px 2px 0 #000, 3px 3px 0 #000,4px 4px 0 #000,5px 5px 0 #000, 6px 6px 0 #000,7px 7px 0 #000,8px 8px 0 #000, 9px 9px 0 #000,10px 10px 0 #000, 11px 11px 0 #000, 12px 12px 0 #000;
margin:20px 0;
}
.front .inner{
  margin: 10px 0;
  font-weight:bold;
  font-size:20px;
}
.button-group {
display: flex;
gap: 16px;
margin:10px 0;
color:#000000;
}
.abu{
background-color: #000;
}
.abou{
border:2px solid rgb(255, 255, 255);
animation: bor 3s infinite;
padding :10%;
text-align:center;
margin:10%;
color:white;
h1{
  margin-bottom: 35px;
  text-decoration: underline;
  font-size:50px;
}
p{
  font-size:27px;
}
}

@keyframes bor{
0%{
border-color:transparent;
}
50%{
border-color:black;
}
100%{
border-color:transparent;
}
}
.proj{

display:flex;
justify-content: center;
}
.proj img{
display:block;
width:300px;
height:370px;
border-radius: 3px;

}
.proj .it1, .it2, .it3{
position:relative;
margin:40px;
height:370px;
width: 300px;
box-shadow: 5px 5px 20px black;
overflow:hidden;
}
.into{
position:absolute;
bottom: 100%;
left: 0;
right: 0;
background-color: #000000bb;
overflow: hidden;
width: 100%;
height: 0;
transition: .5s ease;
}
.it1:hover .into {
bottom: 0;
height: 100%;
}
.it2:hover .into {
bottom: 0;
height: 100%;
}
.it3:hover .into {
bottom: 0;
height: 100%;
}
h3{
color:#000;
text-align:center;

font-size:50px;
text-decoration-line: underline;
margin-bottom: 10px;;
}
.proj h1{
white-space: nowrap; 
color: white;
font-size: 20px;
position: absolute;
overflow: hidden;
top:50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
}
.proj p{
white-space: nowrap; 
color: white;
font-size: 20px;
position: absolute;
overflow: hidden;
top:60%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
}
.idl{ text-align:center;
 } 

.cont{
  background-color: #383737; font-size:25px; 
  
   margin:200px auto; 
   margin-bottom: 40px;
  text-align: center;
    width:60vh;
    height:60vh;
    color:white;
     border: 1px solid #000;
      box-shadow: 0 0 50px #000;
       padding:20px; }
.out{
  text-align:center;
  margin-bottom: 50px;
  margin-top:10px;
}
.out button{
  background-color: #ffffff;
  color:#000000;
padding:10px 20px;
border-radius:30px;
margin:0 auto;
font-size:20px;
left:50%;
cursor:pointer;}

label{ display:block; margin-bottom:5px; }

.out button:hover{
  background-color: #555;
  color:white;
  transform: rotate(360 deg);
}

.footer {
 background-color: #000;
  opacity:1;
  background-size: cover;
  text-align: center;
  padding: 10px;
  height:200px;
}
.footer h1{
  padding:10px;
  font-size:30px;
  color:rgb(182, 180, 180)
}
.footer p{
  color:rgb(192, 190, 190);
  padding-bottom:10px;
}
.pfic img{
  height:3%;
  width:3%;
  border-radius:6px;
  color:black;
}
.pfic img:hover{
  height:4%;
  width:4%;
}
.skill #move{
  color:white;
  font-family: sans-serif;
  height:80px;
  width:100%;
  position:relative;
  font-weight:bold;
  background-color: rgb(43, 41, 41);
  font-size:25px;
  margin:80px;
  padding: 25px;
  animation: skim 6s forwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  margin-bottom: 80px;
}
@media(min-width:600px){
@keyframes skim{
  0%{left: 0px;}
  100%{left:100%}
}
}

@media(max-width:600px){
  @keyframes skim{
    0%{right: 0px;}
    100%{right:100%}
  }
  .pfic img{
    height:7%;
    width:7%;
    border-radius:5px;
  }
}
.skill #move:hover{
  color:#00d9ff;
}
.score #move2{
  color:white;
  font-family: sans-serif;
  height:80px;
  width:100%;
  position:relative;
  font-weight:bold;
  background-color: rgb(43, 41, 41);
  font-size:25px;
  padding: 25px;
  animation: scom 6s reverse;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  margin-bottom: 80px;
}
@keyframes scom{
  0%{right: 0px;}
  100%{right:100%}
}
.score #move2:hover{
  color:rgb(0, 247, 255);
}
.abou p, .abou h1{
  animation: net 3s ease-in-out infinite ;
}
